#customify-sites-listing {
  color: #fff;
}
#customify-sites-listing .theme .theme-screenshot:after {
  padding-top: 100%;
}

.cs-clear {
  clear: both;
}

.wp-filter {
  display: inline-block;
  position: relative;
  margin: 12px 0 25px;
  padding: 0 10px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #555;
  font-size: 13px;
  box-sizing: border-box;
}

.filter-count {
  display: inline-block;
  vertical-align: middle;
  min-width: 4em;
}

.filter-count .count {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 4px 10px;
  border-radius: 30px;
  background: #72777c;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.filter-links {
  display: inline-block;
  margin: 0;
}
.filter-links li {
  display: inline-block;
  margin: 0;
}
.filter-links li > a {
  margin: 0 10px;
  padding: 15px 0;
  border-bottom: 4px solid #fff;
  color: #666;
  cursor: pointer;
}

.wp-filter .search-form {
  float: right;
  margin: 10px 0;
}
.wp-filter .search-form input[type=search] {
  margin: 0;
  padding: 3px 5px;
  width: 280px;
  max-width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-appearance: textfield;
}

.theme-browser .themes {
  clear: both;
}

.theme-browser .theme {
  cursor: pointer;
  float: left;
  margin: 0 4% 4% 0;
  position: relative;
  width: 30.6%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.theme-browser .theme .theme-screenshot {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  transition: opacity .2s ease-in-out;
}
.theme-browser .theme .theme-screenshot:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.theme-browser .theme .theme-id-container {
  position: relative;
}
.theme-browser .theme .theme-name {
  font-size: 15px;
  font-weight: 600;
  height: 18px;
  margin: 0;
  padding: 15px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  background: rgba(255, 255, 255, 0.65);
}
.theme-browser .theme .theme-actions {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  padding: 10px 15px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity .1s ease-in-out;
  height: auto;
  background: rgba(244, 244, 244, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.theme-browser .theme .theme-actions .button {
  float: none;
  margin-left: 3px;
}
.theme-browser .theme .theme-actions .button-primary {
  margin-right: 3px;
}
.theme-browser .theme .button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
.theme-browser .theme .button-secondary {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
}

.customify-sites-show-modal #customify-sites-filter, .customify-sites-show-modal #customify-sites-listing-wrapper {
  opacity: 0;
  visibility: hidden;
}

.cs-left {
  float: left;
}

.cs-right {
  float: right;
}

.cs-50 {
  width: 50%;
}

.spinner {
  display: none;
}

.customify-sites-modal-wrapper {
  position: absolute;
  top: 100px;
  width: 99%;
  display: none;
}
.customify-sites-modal-wrapper.cs-show {
  display: block;
  z-index: 999;
}
.customify-sites-modal-wrapper img {
  max-width: 100%;
}
.customify-sites-modal-wrapper .cs-modal-outer {
  max-width: 960px;
  margin: 0 auto;
}
.customify-sites-modal-wrapper .cs-modal-outer * {
  box-sizing: border-box;
}
.customify-sites-modal-wrapper .cs-modal {
  background: #fff;
  display: flex;
  margin-top: 30px;
  border: 1px solid #ddd;
}
.customify-sites-modal-wrapper .cs-modal:after {
  clear: both;
  content: "";
  display: block;
}
.customify-sites-modal-wrapper .cs-modal .cs-info {
  width: 40%;
  padding: 15px;
  border-right: 1px solid #ddd;
}
.customify-sites-modal-wrapper .cs-modal .cs-thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  transition: opacity .2s ease-in-out;
}
.customify-sites-modal-wrapper .cs-modal .cs-thumbnail img {
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity .2s ease-in-out;
}
.customify-sites-modal-wrapper .cs-modal .cs-thumbnail:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.customify-sites-modal-wrapper .cs-modal .cs-name {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
}
.customify-sites-modal-wrapper .cs-modal .cs-main {
  width: 60%;
  position: relative;
  padding: 60px 15px;
}
.customify-sites-modal-wrapper .cs-modal .cs-breadcrumb {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  padding: 15px;
  background: #fff;
  margin: 0px;
  list-style: none;
  border-bottom: 1px solid #ddd;
  display: flex;
}
.customify-sites-modal-wrapper .cs-modal .cs-breadcrumb li {
  flex-basis: 25%;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1;
  color: #cccccc;
  cursor: default;
}
.customify-sites-modal-wrapper .cs-modal .cs-breadcrumb li.cs-clickable {
  cursor: pointer;
  color: #444444;
}
.customify-sites-modal-wrapper .cs-modal .cs-actions {
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  padding: 15px;
  border-top: 1px solid #ddd;
  background: #fff;
}
.customify-sites-modal-wrapper .cs-modal .cs-actions:after {
  clear: both;
  content: "";
  display: block;
}
.customify-sites-modal-wrapper .cs-modal .cs-steps {
  overflow: hidden;
  position: relative;
}
.customify-sites-modal-wrapper .cs-modal .cs-step:after {
  clear: both;
  content: "";
  display: block;
}

/*# sourceMappingURL=customify-sites.css.map */
